@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
* {
    font-family: 'Barlow';
}

body {
    background: #61a6ab;
}

#menu {
    width: 35px;
    height: 30px;
    margin: 60px 60px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #f7b9a1;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a {
    color: #291b25;
    /*cor do texto*/
    text-decoration: none;
    z-index: 4;
    position: relative;
}

.nav li a:hover {
    font-weight: 300;
}

.nav li {
    list-style: none;
    padding: 16px 0;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg, #menu-bar {
    top: 0;
    right: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 30px 12px;
    background: #f7b9a1;
    transition: 0.3s ease;
    border-top-left-radius: 0%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 82%;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 243px;
    height: 547px;
    transform: translate(0%, -6%);
}

.change .bar {
    background-color: #291b25;
    position: relative;
    z-index: 4;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

.flexBox {
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.flexBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caracters {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29%, 1fr));
    grid-gap: 90px;
    padding-inline-start: 90px;
}

.card {
    background-size: cover;
    width: 400px;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 600ms ease;
}

.card:hover {
    transform: scale(1.09);
}

.card-content {
    --padding: 8%;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.5) 20%, hsl(0 0% 0% / 1));
    transform: translateY(84%);
}

.card:hover .card-content {
    transform: translateY(0);
    transition: transform 600ms ease;
}

.card-title {
    position: relative;
    width: max-content;
    background: none;
    color: #f2f1ec;
}

.card-title::after {
    content: '';
    position: absolute;
    height: 4px;
    background: #f7b9a1;
    left: calc(var(--padding) * -1);
    bottom: -4px;
    width: calc(100% + var(--padding));
    transform: scalex(0);
    transition: transform 800ms ease;
}

.card:hover .card-title::after {
    transform: scalex(1);
}

.card-body {
    padding: 1.5em;
    max-width: 35ch;
    color: #f2f1ec;
}

.info {
    margin: 15px 0px -25px 0px;
}