/* #291b25 roxo

#61a6ab azul

#eb744f coral

#f2f1ec branco

#f7b9a1 rosa

#ffce6d amarelo */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
* {
    font-family: 'Barlow';
}

body {
    margin: unset;
    background-color: #61a6ab;
}



#text-header {
    color: #291b25;
    text-align: center;
    margin-left: -30%;
    margin-top: -23%;
    line-height: 0;
    z-index: 1;
    position: relative;
}

#studio-ghibli {
    font-family: 'Montserrat';
    font-size: 30px;
}

#site-name {
    font-size: 120px;
}

#site-info {
    font-family: 'Montserrat';
    font-size: 26px;
}

#circle {
    z-index: 0;
    width: 593px;
    height: 540px;
    background: #f2f1ec;
    border-top-left-radius: 0%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 46%;
    border-bottom-left-radius: 56%;
    transform: translate(0px, 0px);
}

.fist-page img {
    margin-top: -24%;
    z-index: 1;
    position: relative;
    left: 62%;
    width: 470px;
}
/* 3 barrinhas do menu*/
#menu {
    width: 35px;
    height: 30px;
    margin: 60px 60px;
    cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #f3f2ef;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
	
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a
{
	color: #291b25; /*cor do texto*/
    text-decoration: none; 
    z-index: 2;
    position: relative;
}
.nav li a:hover
{
	font-weight: 300;
}
.nav li
{
	list-style: none;
	padding: 16px 0;
}
.nav
{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top:0;
	right:0;
	position: absolute;
}
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 30px 12px;
    background: #f7b9a1;
    transition: 0.3s ease;
    border-top-left-radius: 0%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 82%;
}
#menu-bar{
	z-index:2;

}
.change-bg {
    width: 243px;
    height: 547px;
    transform: translate(0%, -6%);
}
.change .bar{
    background-color:#291b25;
    position: relative;
    z-index: 2;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
} 
